@keyframes animate125 {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes boxShadow {
  0% {
    text-shadow: 0px -5px 4px rgb(220 86 197 / 15%),
      0 5px 4px rgb(220 86 197 / 15%), 5px 0px 4px rgb(220 86 197 / 15%),
      -5px 0px 4px rgb(220 86 197 / 15%);
  }
  25% {
    text-shadow: 0px -5px 4px rgb(220 86 197 / 25%),
      0 5px 4px rgb(220 86 197 / 25%), 5px 0px 4px rgb(220 86 197 / 25%),
      -5px 0px 4px rgb(220 86 197 / 25%);
  }

  50% {
    text-shadow: 0px -5px 4px rgb(220 86 197 / 50%),
      0 5px 4px rgb(220 86 197 / 50%), 5px 0px 4px rgb(220 86 197 / 50%),
      -5px 0px 4px rgb(220 86 197 / 50%);
  }

  75% {
    text-shadow: 0px -5px 4px rgb(220 86 197 / 25%),
      0 5px 4px rgb(220 86 197 / 25%), 5px 0px 4px rgb(220 86 197 / 25%),
      -5px 0px 4px rgb(220 86 197 / 25%);
  }

  100% {
    text-shadow: 0px -5px 4px rgb(220 86 197 / 15%),
      0 5px 4px rgb(220 86 197 / 15%), 5px 0px 4px rgb(220 86 197 / 15%),
      -5px 0px 4px rgb(220 86 197 / 15%);
  }
}
@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
