:root {
  /* змінні кольорів */
  --primary-text-color: #ffffff;
  --second-text-color: #dc56c5;
  --third-text-color: #939393;
  --info-text-color: #0e0e0e;

  --background-body: #212121;
  --background-search: rgba(255, 255, 255, 0.2);
  --btn-background-modal: #4c00fe;

  --accent--color: #dc56c5;
}
