<footer class="footer">
    <div class="container">
     <p class="footer-text">
        © 2022 | All Rights Reserved | Developed by "Dream team && tiger🐯"
        <button type="button" class="footer_modal_open" data-modal-open>from GoIT academy</button>
    </p>
  </div>
</footer>

  <!-- footer-modal -->

<div class="footer_backdrop is-hidden" data-modal>
  <div class="modal_footer">
    <button type="button" class="footer_modal_close" data-modal-close> 
      <svg class="close-svg" width="15" height="15">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="title title-footer_modal">We are dream team && tiger🐯:</h2>
    
    <ul class="list-developers">
      <li class="item-developer">
          <img src="#" alt="developers foto-1" class="foto-developer">
              <p class="footer-modal_text">Lyubov Pushkina developer</p>
          </img>
      </li> 
      <li class="item-developer">
          <img src="#" alt="developers foto-2" class="foto-developer">
              <p class="footer-modal_text">Roman Lysenko developer</p>
          </img>
      </li>
      <li class="item-developer">
          <img src="#" alt="developers foto-3" class="foto-developer">
              <p class="footer-modal_text">Ruslan Strilets team lead</p>
          </img>
      </li>
      <li class="item-developer">
          <img src="#" alt="developers foto-4" class="foto-developer">
              <p class="footer-modal_text">Valeria Stetsiuk scrum master</p>
          </img>
      </li>
      <li class="item-developer">
          <img src="#" alt="developers foto-5" class="foto-developer">
              <p class="footer-modal_text">Peter Bidenko developer</p>
          </img>
      </li>
      <li class="item-developer">
          <img src="#" alt="developers foto-6" class="foto-developer">
              <p class="footer-modal_text">Yevhen Zhmykhov developer</p>
          </img>
      </li>
    </ul>
    
  </div>
</div>

