<footer class="footer">
    <div class="container footer__container">
        <p class="footer-text">
            © 2022 | All Rights Reserved | Developed by "Dream team && tiger🐯"&nbsp;&nbsp;
            <button type="button" class="footer_modal_open" data-modal-open>from GoIT academy</button>
        </p>
    </div>
</footer>

<!-- footer-modal -->

<div class="footer_backdrop is-hidden" data-modal>
    <div class="modal_footer">
        <button type="button" class="footer_modal_close" data-modal-close>
            <svg class="close-svg" width="20" height="20">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="title title-footer_modal">We are dream team && tiger🐯:</h2>

        <ul class="list-developers">
            <li class="item-developer">
                <div class="team__photo">
                    <img src="./images/luibov.jpg" alt="developers foto-1" class="foto-developer">
                </div>
                <p class="footer-modal_text">Liubov Pushkina </p>
                <p class="footer-modal_pretext">Developer</p>
            </li>
            <li class="item-developer">
                <div class="team__photo">
                    <img src="./images/roma.jpg" alt="developers foto-2" class="foto-developer">
                </div>
                <p class="footer-modal_text">Roman Lysenko </p>
                <p class="footer-modal_pretext">Developer</p>
            </li>
            <li class="item-developer">
                <div class="team__photo">
                    <img src="./images/ruslan.jpg" alt="developers foto-3" class="foto-developer">
                </div>
                <p class="footer-modal_text">Ruslan Strilets </p>
                <p class="footer-modal_pretext">Team Lead</p>
            </li>
            <li class="item-developer">
                <div class="team__photo">
                    <img src="./images/lera.jpg" alt="developers foto-4" class="foto-developer">
                </div>
                <p class="footer-modal_text">Valeria Stetsiuk </p>
                <p class="footer-modal_pretext">Scrum Master</p>
            </li>
            <li class="item-developer">
                <div class="team__photo">
                    <img src="./images/peter.jpg" alt="developers foto-5" class="foto-developer">
                </div>
                <p class="footer-modal_text">Peter Bidenko </p>
                <p class="footer-modal_pretext">Developer</p>
            </li>
            <li class="item-developer">
                <div class="team__photo">
                    <img src="./images/evhen.jpg" alt="developers foto-6" class="foto-developer">
                </div>
                <p class="footer-modal_text">Evhen Zhmykhov </p>
                <p class="footer-modal_pretext">Developer</p>

            </li>
        </ul>

    </div>
</div>