<header class="header">
  <div class="logo">
    <a class="logo__link" href="index.html">
      <svg class="logo__image">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
  </div>
  <div class="container header-container">
    <h1 class="header-title">FIND BEST EVENTS<br />AROUND THE WORLD</h1>
    <form action="submit" class="form">
      <div class="form-thumb">
        <button type="submit" class="js-search form-search"></button>
        <input
          type="text"
          placeholder="Start searching"
          name="searchInput"
          class="form-input"
        />
      </div>
      <select name="country" class="country form-select">
        <option selected value="default">Choose country</option>
      </select>
    </form>
  </div>
</header>
