<div class="container">
    <div class="gallery">1</div>
    <ul class="pagination"></ul>




    <!-- <div class="pagination">
        <button class="pagination__btn button current-btn" type="button">1</button>
        <button class="pagination__btn button" type="button">2</button>
        <button class="pagination__btn button" type="button">3</button>
        <button class="pagination__btn button" type="button">4</button>
        <button class="pagination__btn button" type="button">5</button>
        <button class="pagination__btn button" type="button">...</button>
        <button class="pagination__btn button" type="button">29</button>
    </div> -->