.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include mq(mob) {
    max-width: 320px;
  }
  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @include mq(desktop) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}
