.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: calc(17 / 14);
  text-align: center;
  margin-bottom: 40px;
  color: var(--third-text-color);
  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
.footer_modal_open {
  padding: 5px;
  color: inherit;
  border: 1px solid var(--accent--color);
  background-color: #0000;
  border-radius: 20px 0;
  box-shadow: 0 0 30px #ff0bef99;
  margin-top: 10px;
  &:hover,
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 0 30px #ff0bef;
    outline: none;
  }
  @include mq(desktop) {
    margin-top: 0;
    margin-left: 15px;
  }
}
.is-hidden {
  visibility: hidden;
}
// .footer_backdrop.is-hidden .modal_footer {
//   transform: scale(0.8);
// }
.footer_backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 105%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_footer {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 80%;
  padding: 20px;
  background: rgba(47, 4, 61, 0.81);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: rgba(0, 0, 0, 0.2);
  box-shadow: rgba(0, 0, 0, 0.14);
  box-shadow: rgba(0, 0, 0, 0.12);
  border-radius: 50px 0;
  z-index: 100;
  @include mq(tablet) {
    min-width: 50%;
  }
  @include mq(desktop) {
    max-width: 40%;
  }
}

.list-developers {
  flex-flow: wrap;
  display: flex;
  gap: 10px;

  justify-content: center;

  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

.footer_modal_close {
  background-color: transparent;
  border-color: transparent;
}

.close-svg {
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  fill: #fff;
}

.title-footer_modal {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 25px;
  color: var(--primary-text-color);
}
.foto-developer {
  width: 150px;
  max-height: 103px;
  object-fit: cover;
  border-radius: 50px 0;
  border: 2px solid #ff0bef99;
  box-shadow: 0 0 30px #ff0bef99;

  @include mq(tablet) {
    width: 141px;
    max-height: 101.33px;
  }
  @include mq(desktop) {
    width: 141px;
    max-height: 141px;
  }
}

.team__photo {
  border-radius: 50px 0;
  margin: 0 auto;

  object-fit: cover;
  border-radius: 50px 0;
  margin: auto;
}
.footer-modal_text {
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.footer-modal_pretext {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
}
.no-scroll {
  overflow: hidden;
}
.item-developer {
  width: calc((100% - 10px) / 2);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  @include mq(tablet) {
    width: calc((100% - 40px) / 3);
  }
}
.footer__container {
  text-align: center;
}
.none {
  display: none;
}
