.header-container {
  position: relative;
  height: 364px;
  background-position: center;

  @include mq(desktop) {
    height: 446px;
  }
  background: url('../images/header_320.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/header_320@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background: url('../images/header_768.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header_768@2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    background: url('../images/header_1280.jpg');
    max-width: 1280px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header_1280@2x.jpg');
    }
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.header-title {
  font-size: 18px;
  font-weight: 900;
  line-height: calc(22 / 18);
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 24px;
  padding-top: 80px;
  @include mq(tablet) {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 40px;
    padding-top: 40px;
  }
  @include mq(desktop) {
    font-size: 50px;
    line-height: calc(61 / 50);
    margin-bottom: 48px;
  }
}
.logo {
  display: block;
  position: absolute;
  @include mq(mob) {
    width: 214px;
    height: 214px;
    top: -107px;
    left: -107px;
  }
  @include mq(tablet) {
    width: 350px;
    height: 286px;
    top: -143px;
    left: -175px;
  }
  @include mq(desktop) {
    width: 400px;
    height: 400px;
    top: -200px;
    left: -200px;
  }
  background: linear-gradient(hsla(0, 0%, 76.9%, 0.03), hsla(0, 0%, 76.9%, 0));
  backdrop-filter: blur(30px);
  border-radius: 50%;
}
.logo__image {
  position: relative;
  width: 150px;
  top: 0;
  left: 0;
}
.form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  margin-bottom: 65px;

  @include mq(tablet) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 90px;
  }
  @include mq(desktop) {
    margin-bottom: 139px;
  }
}
.form-search {
  position: absolute;
  top: 12px;
  left: 246px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: #0000;
  background-image: url('../images/search.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  @include mq(tablet) {
    left: 300px;
  }
  @include mq(desktop) {
    left: 575px;
  }
}
.form-input,
.form-select {
  width: 280px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  color: var(--third-text-color);

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding-left: 15px;

  border: none;
  &:focus {
    outline: none;
  }
}
.form-input::placeholder {
  color: var(--third-text-color);
}

.form-select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.8em) 1.1em;
  background-size: 0.85em auto;
  background-image: url('../images/arrow.png');
}

/* скроет иконку стрелки в IE */
select::-ms-expand {
  display: none;
}
