// .main {
//   position: relative;
// }
.gallery {
  position: relative;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include mq(tablet) {
    top: -40px;
  }
}
.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
  width: calc((100% - 30px) / 2);
  @include mq(tablet) {
    width: calc((100% - 129px) / 4);
  }
  @include mq(desktop) {
    width: calc((100% - 159px) / 4);
    margin-bottom: 40px;
  }
  &:hover,
  &:focus {
    transform: scale(1.1);
    border-radius: 50px 0;
    box-shadow: 0 0 30px #ff0bef;
    outline: none;
  }
}
.gallery__item::before {
  content: '';
  position: absolute;
  width: 103px;
  height: 95px;
  top: -9px;
  right: -10px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
  z-index: 9;
  @include mq(tablet) {
    width: 120px;
    height: 112px;
  }
  @include mq(desktop) {
    width: 227px;
    height: 212px;
  }
}
.gallery__img {
  margin-bottom: 8px;
  z-index: 10;
}
.gallery__img img {
  border-radius: 50px 0;
  width: 120px;
  height: 151px;
  object-fit: cover;

  @include mq(tablet) {
    width: 141px;
    height: 178px;
  }
  @include mq(desktop) {
    width: 267px;
    height: 337px;
  }
}
.gallery__caption {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-bottom: 8px;
  color: var(--second-text-color);
}
.gallery__date {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  margin-bottom: 8px;
  color: var(--primary-text-color);
}
.gallery__location {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary-text-color);
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 60px;
}
.pagination__btn {
  width: 30px;
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;

  padding: 5px 0;
  text-align: center;
  &:hover,
  &:focus {
    border-radius: 10px 0;
    color: var(--accent--color);
    border: 1px solid var(--accent--color);
    box-shadow: 0 0 30px #ff0bef;
    outline: none;
  }
}
.pagination__dots {
  border: none;
  border-radius: none;
  cursor: auto;

  &:hover,
  &:focus {
    color: var(--primary-text-color);
    border: none;
    box-shadow: none;
  }
}
.pagination__btn--current {
  font-size: 20px;
  color: var(--accent--color);
  border: 1px solid var(--accent--color);
  border-radius: 10px 0;
  box-shadow: 0 0 30px #ff0bef;
}
.arrow {
  opacity: 0;
  background-color: transparent;
  position: fixed;
  right: 3px;
  bottom: 20px;
  border: 2px solid var(--accent--color);
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include mq(desktop) {
    right: 8px;
    bottom: 40px;
  }
}
.arrow__icon {
  display: block;
  width: 30px;
  height: 30px;
  fill: var(--accent--color);
  @include mq(tablet) {
    width: 50px;
    height: 50px;
  }

  @include mq(desktop) {
    width: 65px;
    height: 65px;
  }
  .pagination__btn--current {
    font-size: 20px;
    color: var(--accent--color);
  }
}
